
html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-pokemon {
  background-color: #ED5565;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading{
  position: relative;
}

.heading2{
  position: relative;
}

.pokemon {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.guess {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 670px;
  top: 170px;
  z-index: 3;
  width: 200px;
  height: 200px;
}

body {
background-color: #4FC1E9;
}

.list {
  text-align: center;
  list-style: none; 
  color: white;
}

.bg {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.button {
    background-color: red; /* Green */
    border: 5px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

. drop {
  color: black;
}

. menu {
  position: absolute;
  top: 500px;
}